div{
    margin-bottom: 10px;
}

form{
    background-color: aqua;
    display: inline-block;
    padding: 10px;
}

.multiarrow{
    background-color: aqua;
    display: block;
    size: 100px;
    width: 550px;
    height: 150px;
}

.submit{
    background-color: blue;
    border-radius: 14px;
    padding: 5px;
}